* {
	/*border: 1px solid red !important;*/
	font-family: 'Lato', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width: 500px){
	p {
		display: none;
	}
}

.grid {
	padding: 8px;
	margin: 5px;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1{
	width: 8.33% ;
}
.col-2{
	width: 16.66% ;
}
.col-3{
	width: 25% ;
}
.col-4{
	width: 33.33% ;
}
.col-5{
	width: 41.66% ;
}
.col-6{
	width: 50% ;
}
.col-7{
	width: 58.33% ;
}
.col-8{
	width: 66.66% ;
}
.col-9{
	width: 75% ;
}
.col-10{
	width: 83.33% ;
}
.col-11{
	width: 91.66% ;
}
.col-12{
	width: 100% ;
}
p {
	padding: 10px;
	font-weight: 900;
	text-align: justify;
}

h1 {
	padding: 20px 10px 0px 0px;
	margin: 0 auto;
	font-size: 46px;
	text-align: right;
	color: #d3d3d3;
}

h2 {
	padding: 10px;
	font-weight: 900;
}

h3 {
	padding: 10px 10px 0px 0px;
	margin: 0;
	text-align: right;
	font-weight: 900;
}
.featured-work img{
	display: block;
	width: 80%;
	height: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-weight: 900;
}
.featured-work h3 {
	display: block;
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-weight: 900;
}
.inverse {
	background: #111111;
	color: #d3d3d3;
}
.logo {
	margin: 0 auto;
	padding: 10px;
	height: 100%;
}
.banner {
	width: 100%;
	height:620px;
	padding: 10px;
	margin-top: 20px; 
	background: url('http://placehold.it/1287x720');
}
.negative-space {
	margin-top: 20px;
	margin-bottom: 20px;
}